$red-color: rgb(176, 5, 5);
$white-color: rgb(255, 255, 255);

.modal {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    color: black;
    text-align: center;
    background-color: rgb(254, 255, 255);
    border-radius: 15px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px 5px #000000;
  }

  &__button {
    padding: 15px 40px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: $red-color;
    cursor: pointer;
    background-color: $white-color;
    border: 3px solid $red-color;
    border-radius: 10px;
    box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }

  &__button:hover {
    color: $white-color;
    background-color: $red-color;
    border: 3px solid $red-color;
  }
}
