$color: black;

@mixin button-decoration(
  $margin,
  $padding,
  $font-size,
  $border-radius,
  $color,
  $background-color
) {
  margin: $margin;
  padding: $padding;
  font-size: $font-size;
  cursor: pointer;
  border: none;
  border-radius: $border-radius;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    color: $color;
    background-color: $background-color;
  }
}

.project {
  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 30px;
    border: 2px solid rgb(80, 75, 75);
    border-radius: 10px;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    transform: translate(0, 0);

    &:hover {
      transform: translate(-10px, -20px);
    }

    &__link {
      padding: 30px;
      font-size: 20px;
      color: $color;
      text-decoration: none;

      &:hover {
        color: rgb(127, 244, 255);
      }
    }
  }

  &__button {
    @include button-decoration(10px, 10px 30px, 20px, 20px, white, blue);
  }

  &__deletebutton {
    color: red;
    @include button-decoration(10px, 10px 30px, 20px, 20px, white, red);
  }

  &__backbutton {
    @include button-decoration(10px 30px, 10px 50px, 20px, 20px, white, gray);
  }
}
